---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<!--
Page displaying an index of all tags.
-->
<BaseLayout pageTitle={pageTitle} description="Index of all tags.">
  <p>Index of all tags</p>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}/`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
