---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="About Me" description="About me">
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is beep boop.</li>
  </ul>
</BaseLayout>
