---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<BaseLayout
  pageTitle="My Astro Learning Blog"
  description="Blog about learning Astro."
>
  <p>This is where I will post about my journey learning Astro.</p>
  <section>
    {
      allPosts.map((post) => (
        <article class="py-3">
          <time>{post.data.pubDate.toLocaleDateString()}</time>
          <a href={`/posts/${post.id}/`}>
            <h3 class="text-3xl">{post.data.title}</h3>
          </a>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </section>
</BaseLayout>
