---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home page" description="Home page">
  <p>Welcome to my blog!</p>

  <hr />

  <p>
    Bacon ipsum dolor amet chicken kielbasa pork belly sausage cow pork
    burgdoggen prosciutto fatback beef ribs boudin filet mignon ham beef
    buffalo. Pork belly fatback salami meatball shankle tri-tip alcatra filet
    mignon strip steak swine beef chuck sirloin kielbasa pancetta. Swine pork
    brisket buffalo leberkas. Venison beef ribs ball tip shoulder, chicken beef
    shank chuck jowl drumstick pork pork chop. Tri-tip landjaeger jowl, ground
    round doner tail ham alcatra meatloaf. Meatloaf cupim alcatra leberkas
    porchetta pig capicola turducken pastrami venison hamburger. Cupim brisket
    porchetta ham tri-tip ribeye, hamburger alcatra beef tenderloin. Pastrami
    brisket capicola andouille, bresaola flank picanha bacon. Pastrami filet
    mignon strip steak short loin rump. Boudin swine bacon bresaola ball tip
    leberkas, picanha capicola ribeye t-bone short loin jerky ham.
  </p>
  <p>
    Leberkas pork belly boudin cow fatback shank. Leberkas flank hamburger
    meatball, fatback sirloin chuck chislic beef brisket jowl rump alcatra pig.
    Pig shankle rump shoulder ham hock capicola. Swine kevin biltong ham. Short
    loin pig pork ham hock kevin. Flank pancetta ball tip, brisket short loin
    short ribs boudin spare ribs shoulder alcatra porchetta capicola ribeye pork
    chop cow. Swine boudin strip steak ribeye, ball tip chislic chicken.
    Bresaola leberkas andouille bacon. Alcatra tail beef, porchetta tri-tip
    bresaola ham bacon boudin ham hock meatball venison jerky doner. Sausage
    frankfurter pancetta, doner biltong ham hock landjaeger cupim pork loin
    tongue porchetta kevin capicola. Corned beef leberkas cupim, meatloaf
    fatback sirloin frankfurter pastrami tenderloin spare ribs kielbasa buffalo
    shankle chislic. <a href="/">Frankfurter doner sausage porchetta</a> hamburger
    cupim landjaeger short ribs venison biltong flank beef ribs brisket jerky. Turkey
    shankle jowl, meatball picanha beef pastrami ham hock tongue alcatra biltong
    tri-tip pork. Corned beef beef ribs landjaeger short ribs turkey picanha biltong
    salami bacon ham hock tongue fatback jerky kevin. Alcatra ham brisket, filet
    mignon tri-tip flank short loin pork belly hamburger. T-bone cupim andouille
    hamburger picanha sirloin. Prosciutto shoulder shankle, pig jowl ribeye meatball
    bacon kielbasa pork loin short ribs turducken t-bone.
  </p>
</BaseLayout>
