---
// Decorative ornament divider for light academia aesthetic
---

<div class="ornament" aria-hidden="true">
  <svg
    width="60"
    height="20"
    viewBox="0 0 60 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30 10 L25 5 L20 10 L15 5 L10 10 L5 5 L0 10 M30 10 L35 5 L40 10 L45 5 L50 10 L55 5 L60 10"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
      opacity="0.3"
    />
  </svg>
</div>

<style>
  .ornament {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    color: var(--color-sage);
  }

  .ornament svg {
    opacity: 0.4;
  }
</style>

